@import "styles/theme.scss";
.container-fluid {
  .flexdiv {
    height: auto;
    .customdiv {
      width: 450px;
      box-shadow: $box-shadow;
      padding: 50px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
    }
    form {
      width: 100%;
    }
    .logostyle {
      width: calc(15vmin - 15px);
      margin-bottom: 2vmin;
    }
  }
}
