
@import 'styles/theme.scss';
.PreviewArea{
    position: absolute;
    z-index: 50; 
   box-shadow: $box-shadow; 
}
.react-bs-table{
    height:auto !important;
}

.react-bs-table{
    height:auto !important;
}